/* General */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

html{
    font-size: 63%;
    scroll-behavior: smooth;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid black;
    text-shadow: .2rem .2rem .5rem #555;
}
/* End of General */

/* Section 1 */
/* Container */
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#402F61, #171123);
    font-family: "rowdie", sans-serif !important;
    font-weight: bold;
}
/* End of Container */
/* Landing */
.landing{
    width: 100%;
    height: 100vh;
}

.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.greeting{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.1rem;
}
.greeting span{
    color: #f46036;
    font-weight: 700;
}
.name{
    font-size: 10rem;
    width: 60rem;
    margin: 4rem 0 2rem 0;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0,0.3 )
}
.name span{
    color: #f46036;
}
.prof{
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.2rem;
    margin-bottom: 6.7rem;
}

.prof span{
    font-family: "Caveat", cursive;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1.2rem;
}

.about{
    width: 60rem;
    font-family: "Caveat", cursive;
    font-size: 2.5rem;
    line-height: 1;
    color: #a9abae;
    margin-bottom: 5rem;
}
#about{
    display: none;
}

.btn{
    width: 20rem;
    height: 6rem;
    border: 0.2rem solid #bbb;
    border-radius: 3rem;
    background-color: transparent;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    margin-right: 7rem;
    position: relative;
}
.btn::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #f46036;
    border-radius: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    transform: scale(0);
    transition: transform .3s;
}
.btn:hover::before{
    transform:  scale(1);
    transition: transform .5s;
}
.cv{
    margin-top: 15rem;
}

.cv-btn::after{
    content: "";
    width: 5rem;
    height: .2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    right: -6.5rem;
    transform: translateY(-50%);
}

.cv span {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}
.dev-img-wrapper{
    width: 60rem;
    height: 60rem;
    /* margin: auto; */
}
.dev-img-wrapper img{
    width: 40rem;
    height: 40rem;
    margin: 0 0 3rem 10.8rem;
    border-radius: 10.8px;
}

/* End of Landing */
/* End of Section 1*/

/* NavBar */
.navbar{
    width: 100%;
    height: 4rem;
    background-color: #171123;
    box-shadow: .2rem .2rem 0rem #555;
    position: absolute;
    z-index: 333;
}

.sticky{
    position: fixed;
    top: 0;
}

.navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin: 0 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.3s;
}

.change.navbar-link{
    color: #f46036;
}

.navbar-link:hover{
    color: #f46036;
}

.navbar-link::before{
    content: "";
    width: 0;
    height: .2rem;
    background-color: #fff;
    position: absolute;
    right: -15%;
    bottom:-.3rem;
    transition: width 0.3s;
}

.change.navbar-link::before{
    width: 130%;
}

.navbar-link:hover::before{
    width: 130%;
}

/* End of NavBar */

/* Section 2 */
.section-2{
    width: 100%;
    padding: 15rem 0 10rem 0;
    background-image: linear-gradient(white, #8361C7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading{
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid black;
    text-shadow: .2rem .2rem .5rem #555;
}

.progress-bars-wrapper{
    margin-bottom: 10rem;
}

.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color: #ccc;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem #555;
    position: relative;  
}

.progress-text{
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    color: white;
}

.progress-text span{
    margin: 0 0.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.progress-percent {
    width: 0;
    height: 100%;
    background-color: #171123;
    border-radius: .3rem;
    transition: width .5s .5s ease-in-out;
}

.services{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service{
    text-align: center;
}

.service:first-child,
.service:last-child{
    align-self: flex-start;
}


.service i{
    font-size: 10rem;
    color: #171123;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem .5rem #555;
}

.service h2{
    font-size: 2rem;
    color: white;
    background-color: #171123;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555;
}

/* End of Section 2 */

/* Section 3  */
.section-3{
    width: 100%;
    /* height: 100%; */ 
    padding: 10rem 0;
    background-color: #8361C7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper{
    width: 80%;
    flex-wrap: wrap;
}

#section-3-header{
    color: white;
    border-bottom: .3rem solid white;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}

.project:hover{
    box-shadow: 3rem 3rem 3rem #777;
}

.project-text{
    text-align: center;
    letter-spacing: .1rem;
    position: absolute;
    top: -10rem;
    transition: top 0.3s;
    z-index: 10;
}

.project:hover .project-text{
    top: 5rem;
    transition: top .3s .3s;
}

.project-name{
    font-size: 3rem;
    font-weight: 700;
    color: black;
    text-transform: capitalize ;
}

.project-technologies{
    font-size: 1.8rem;
    color: #f46036;
}

.project-img{
    width: 40rem;
    transition: opacity .3s;
}

.project:hover .project-img{
    opacity: .2;
}

.project-link{
    font-size: 2rem;
    font-weight: 500;
    color: #5b85aa;
    letter-spacing: .1rem;
    border: .3rem solid #171123;
    padding: .1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom 0.3s;
}

.project:hover .project-link{
    bottom: 5rem;
    transition: bottom .3s .3s;
}

/* End of Section 3  */

/* Section 4 */

.section-4{
    width: 100%;
    height: 70vh;
    background-color: #372248;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(#8361C7, #171123)
}

.section-4-heading{
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom: 5rem;
}

.contact-form{
    width: 50rem;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: .2rem solid #171123;
    color: #555;
    border-radius: 8px;
}

.contact-form textarea{
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn{
    background-color: #f46036;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1rem;
    cursor: pointer;
    border-radius: 8px;
    
}



#status{
    font-size: 2rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 8px;
}

#status.success{
    background-color: rgb(69, 238, 69);
    animation: status 4s ease forwards;
}

#status.error{
    background-color: rgba(217, 32, 32, 0.842);
    color: white;
    animation: status 4s ease forwards;
}


@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }

    90%{
        opacity: 1;
        pointer-events: all;
    }

    100%{
        opacity: 0;
        pointer-events: none;
    }
}
/* End of Section 4 */

/* Section 5 */

.section-5{
    width: 100%;
    height: 18vh;
    background-color: #171123;
    flex-direction: column;
}
.copyright{
    color: #aaa;
    font-size: 2rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-align: center;
    margin-top: 4rem;
}
/* End of Section 5 */

/* Responsive */


@media(max-width: 1300px){
    html{
        font-size: 57%;
    }
    .name{
        font-size: 7rem;
        width: 40rem;
    }
    .about{
        width:45rem;
        text-align: center;
        margin: 2rem auto;
    }
    .btn{
        margin-top: 7rem;
    }
}


@media(max-width: 1200px){
    .services{
        height: auto;
        flex-wrap: wrap;
    }

    .service{
        margin: 3rem 2rem;
    }

    .sectio-4{
        height: 80vh;
    }
}

@media(max-width:980px){
    html{
        font-size: 45%;
    }
}

@media(max-width: 800px){
    .section-1-heading{
        font-size: 4rem;
    }

    .progress-bar{
        width: 50rem;
    }
}

@media(max-width: 760px){
    html{
        font-size: 39%;
    }
    
   
}

@media(max-width: 670px){
    html{
        font-size: 50%;
    }
    .developer-img{
        display: none;
    }
    #about{
        display: block;
        margin: 6rem auto;
    }
    .btn{
        margin-top: 0rem;
    }
    .cv{
        margin-bottom: 10rem;
    }

}

@media(max-width: 600px){
    .section-1-heading{
        font-size: 3rem;
    }

    .navbar-link{
        margin: 0 2rem;
        font-size: 1.5rem;
    }

    .section-2 {
        padding: 10rem;
    }

    .section-2-heading{
        margin-bottom: 10rem;
    }

    .progress-bar{
        width: 45rem;
    }

    .project-img{
        width: 100%;
    }

    .contact-form{
        width: 40rem;
    }

    .copyright{
        width: 70%;
    }
}

@media(max-width: 500px){
    html{
        font-size: 55%;
    }
     

}

@media(max-width: 450px){
    html{
        font-size: 45%;
    }

    .section-1-heading{
        font-size: 2.5rem;
    }

    .navbar-link{
        margin: 0 1.5rem;
    }

    .section-2-heading{
        text-align: center;
    }

    .progress-bar{
        width: 40rem;
    }
    

}

@media(max-width: 385px){
    html{
        width: 100%
    }
    .banner{
        width: 100%;
        /* margin-top: 6rem; */
        justify-content: right;
    }
    .developer-info{
        margin: 0 auto;
        padding-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .developer-info h1{
        width: 58%; 
    }
    #about{
        max-width: 90%;
        /* margin: 6rem auto; */
    }
    .prof{
        margin-bottom: 0;
    }
    .cv{
        text-align: center;
        margin: 0;
    }
    .cv-btn::after{
        display: none;
    }
    .cv span{
        display: none;
    }
    .btn{
        margin: 0;
    }
    .section-heading{
        font-size: 4rem; 
        margin-bottom: 6rem; 
    }

    .progress-bars-wrapper {
        margin-bottom: 6rem;
    }

    .project:hover .project-link {
        bottom: 2rem;
        transition: bottom .3s .3s;
    }
    .service{
        display: none;
    }

}





/* End of Responsive */